.nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.div-button {
  display: flex;
  align-items: center;
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 10px ;
  padding-top: 10px;
  width: 30vw;
}


.login div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}